@using Microsoft.AspNetCore.Identity
@using travoul.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travoul - @ViewData["Title"]</title>
    <link rel="shortcut icon" href="/images/TravoulLogoIcon.png" />
    <environment include="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/site.css" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-green">
        @if (SignInManager.IsSignedIn(User))
        {
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="lead nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">Travoul</a>
                </li>
            </ul>
        }
        else
        {
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="lead nav-link">Travoul</a>
                </li>
            </ul>
        }

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                @if (SignInManager.IsSignedIn(User))
                {

                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Trips" ? "active" : "")">
                        <a class="nav-link" asp-area="" asp-controller="Trips" asp-action="Index">My Travouls</a>
                    </li>

                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Create" ? "active" : "")">
                        <a class="nav-link" asp-area="" asp-controller="Trips" asp-action="Create">Plan Next Travoul</a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "PlannedTrips" ? "active" : "")">
                        <a class="nav-link" asp-area="" asp-controller="Trips" asp-action="PlannedTrips">Planned Travouls</a>
                    </li>
                }
            </ul>
            <partial name="_LoginPartial" />

        </div>
    </nav>
    <partial name="_CookieConsentPartial" />

    <div class="bottom-layer">
        @RenderBody()

        <footer class="d-flex justify-content-center text-center">
            <div>
                <small>&copy; 2019 - Travoul</small><br />
                <small>Developed by <a class="text-light" href="http://www.kaylareid.codes" target="_blank">Kayla Reid</a></small>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
        @if (ViewData.ContainsKey("scripts"))
        {
            foreach (var script in (List<string>)ViewData["scripts"])
            {
                <script src=@(String.Format("{0}{1}{2}", "/js/", script, ".js"))></script>
            }

        }
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        @if (ViewData.ContainsKey("scripts"))
        {
            foreach (var script in (List<string>)ViewData["scripts"])
            {
                <script src=@(String.Format("{0}{1}{2}", "/js/", script, ".js"))></script>
            }

        }
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>