@model travoul.Models.Trip

@{
    ViewData["Title"] = "SearchedTripDetails";
}

<h2>SearchedTripDetails</h2>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Continent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Continent.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TripDates)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TripDates)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Accommodation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Accommodation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPreTrip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPreTrip)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TripId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
