@model travoul.Models.ViewModels.TripSearchViewModel

@{
    ViewData["Title"] = "TripSearchAll";
}

<h3>Results for: @Model.Search</h3>

@foreach (Trip trip in Model.Trips)
{
<div>
    <h4>@trip.Title</h4>
    <h4>@trip.Location</h4>
    <h4>@trip.Continent</h4>
    <h4>@trip.TripDates</h4>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Details" asp-route-id="@trip.TripId">See Trip Details</a>
</div>
}

<a class="btn btn-success" asp-controller="Home" asp-action="Index">Back to Home</a>

