@model travoul.Models.ViewModels.CreateTripViewModel

@{
    ViewData["Title"] = "Create";
}

<h3 class="text-center pt-3 pb-3">Start Planning</h3>


<form asp-controller="Trips" asp-action="Create">
    <div class="d-flex justify-content-around">
        <div class="card p-2 plan-create-details-card">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card-text text-center font-weight-bold">Travoul Details</div>
            <hr />
            <div class="form-group">
                <label asp-for="Trip.Title" class="control-label">Name this Travoul</label>
                <input asp-for="Trip.Title" class="form-control" placeholder="Title" />
                <span asp-validation-for="Trip.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.ContinentId" class="control-label">Area of the World</label>
                <select asp-for="Trip.ContinentId" class="form-control" asp-items="Model.AllContinentOptions"></select>
                <span asp-validation-for="Trip.ContinentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.Location" class="control-label">Where are you taveling to?</label>
                <input asp-for="Trip.Location" class="form-control" placeholder="Location" />
                <span asp-validation-for="Trip.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.TripDates" class="control-label">What are your expected trip dates?</label>
                <input asp-for="Trip.TripDates" class="form-control" placeholder="Ex. 12/1/2018-12/10/18" />
                <span asp-validation-for="Trip.TripDates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.Accommodation" class="control-label">Where will you be staying?</label>
                <input asp-for="Trip.Accommodation" class="form-control" placeholder="Accommodation" />
                <span asp-validation-for="Trip.Accommodation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.Budget" class="control-label">Travoul Budget</label>
                <input asp-for="Trip.Budget" class="form-control" placeholder="1500" />
                <span asp-validation-for="Trip.Budget" class="text-danger"></span>
            </div>
        </div>
        <div class="card p-2">
            <div class="card-text text-center font-weight-bold">Travel Plans</div>
            <hr />
            <div>
                @foreach (var item in Model.AllTravelTypes)
                {
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="SelectedTravelTypeIds" value="@item.Value" />
                                @item.Text
                            </label>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="card p-2 plan-create-locations-card">
            <div class="card-text text-center font-weight-bold">Plan Activities</div>
            <hr />
            <div class="card-text text-center">Search for Activities</div>
            <a class="btn btn-secondary text-light" target="_blank" id="search-activity-btn">Search</a>
            <hr />
            <div class="food-container">
                <div class="card-text text-center mb-2">Foods to Try</div>
                <div class="card p-2 bg-light mb-2" id="food-location-1">
                    <div>
                        <div class="form-group">
                            <label for="Food-name-1" class="control-label">Name</label>
                            <input asp-for="@Model.EnteredTripFoodLocations[0].Name" type="text" class="form-control" id="Food-name-1" />
                            <span asp-validation-for="@Model.EnteredTripFoodLocations[0].Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Food-desc-1" class="control-label">Description</label>
                            <textarea asp-for="@Model.EnteredTripFoodLocations[0].Description" type="text" class="form-control" id="Food-desc-1"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-secondary btn-block mt-2" id="add-food-btn">Add More</button>
            <hr />
            <div class="visit-container">
                <div class="card-text text-center mb-2">Places to See</div>
                <div class="card p-2 bg-light mb-2" id="visit-location-1">
                    <div>
                        <div class="form-group">
                            <label for="Visit-name-1" class="control-label">Name</label>
                            <input asp-for="@Model.EnteredTripVisitLocations[0].Name" type="text" class="form-control" id="Visit-name-1" />
                            <span asp-validation-for="@Model.EnteredTripVisitLocations[0].Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Visit-desc-1" class="control-label">Description</label>
                            <textarea asp-for="@Model.EnteredTripVisitLocations[0].Description" type="text" class="form-control" id="Visit-desc-1"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-secondary btn-block mt-2" id="add-visit-btn">Add More</button>
        </div>
    </div>

    <h3 class="text-center pt-3 pb-3">Finished?</h3>
    <button class="btn btn-secondary btn-block btn-lg mt-3">Save</button>

</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}