@model travoul.Models.ViewModels.CreateTripViewModel

@{
    ViewData["Title"] = "Create";
}


<div class="trip-create-page">

    <h3 class="text-center pt-3 pb-3">Start Planning</h3>


    <form asp-controller="Trips" asp-action="Create">
        <div>
            <div class="d-flex flex-wrap justify-content-between">
                <div class="card text-blue p-3 width-65 mb-3 border-0 inset-shadow-orange effect5">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h5 class="card-text text-center font-weight-bold">Travoul Details</h5>
                    <hr />
                    <div class="form-group">
                        <label asp-for="Trip.Title" class="control-label font-weight-bold">Name this Travoul</label>
                        <input asp-for="Trip.Title" class="form-control" placeholder="Title" />
                        <span asp-validation-for="Trip.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Trip.ContinentId" class="control-label font-weight-bold">Area of the World</label>
                        <select asp-for="Trip.ContinentId" class="form-control" asp-items="Model.AllContinentOptions"></select>
                        <span asp-validation-for="Trip.ContinentId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Trip.Location" class="control-label font-weight-bold">Where are you taveling to?</label>
                        <input asp-for="Trip.Location" class="form-control" placeholder="Location" />
                        <span asp-validation-for="Trip.Location" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Trip.TripDates" class="control-label font-weight-bold">What are your expected trip dates?</label>
                        <input asp-for="Trip.TripDates" class="form-control" placeholder="Ex. 12/1/2018-12/10/18" />
                        <span asp-validation-for="Trip.TripDates" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Trip.Accommodation" class="control-label font-weight-bold">Where will you be staying?</label>
                        <input asp-for="Trip.Accommodation" class="form-control" placeholder="Accommodation" />
                        <span asp-validation-for="Trip.Accommodation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Trip.Budget" class="control-label font-weight-bold">Travoul Budget</label>
                        <input asp-for="Trip.Budget" class="form-control" placeholder="1500" />
                        <span asp-validation-for="Trip.Budget" class="text-danger"></span>
                    </div>
                </div>
                <div class="card border-0 text-blue p-3 width-30 mb-3 inset-shadow-blue effect2">
                    <div class="card-text text-center font-weight-bold">Travel Plans</div>
                    <hr />
                    <div>
                        @foreach (var item in Model.AllTravelTypes)
                        {
                            <div class="form-group ml-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="SelectedTravelTypeIds" value="@item.Value" />
                                        @item.Text
                                    </label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div>
                <div class="card border-0 p-3 mt-5 inset-shadow effect5">
                    <div class="card-text text-center font-weight-bold">Plan Activities</div>
                    <hr />
                    <div class="card-text text-center">Search for Activities</div>
                    <div class="d-flex justify-content-center mt-2">
                        <a class="btn btn-blue text-light" target="_blank" id="search-activity-btn">Search</a>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-around activities-container">
                        <div class="card width-45 border-0 p-3 inset-shadow-dark effect3">
                            <div class="food-container">
                                <div class="card-text text-center mb-2">Foods to Try</div>
                                <div class="card p-2 bg-light mb-2 ml-3 mr-3 inset-shadow-orange" id="food-location-1">
                                    <div>
                                        <div class="form-group">
                                            <label for="Food-name-1" class="control-label">Name</label>
                                            <input asp-for="@Model.EnteredTripFoodLocations[0].Name" type="text" class="form-control" id="Food-name-1" />
                                            <span asp-validation-for="@Model.EnteredTripFoodLocations[0].Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="Food-desc-1" class="control-label">Description</label>
                                            <textarea asp-for="@Model.EnteredTripFoodLocations[0].Description" type="text" class="form-control" id="Food-desc-1"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-secondary btn-block mt-2" id="add-food-btn">Add More</button>

                        </div>
                        <div class="card width-45 border-0 p-3 inset-shadow-dark effect4">
                            <div class="visit-container">
                                <div class="card-text text-center mb-2">Places to See</div>
                                <div class="card p-2 bg-light mb-2 ml-3 mr-3 inset-shadow-green" id="visit-location-1">
                                    <div>
                                        <div class="form-group">
                                            <label for="Visit-name-1" class="control-label">Name</label>
                                            <input asp-for="@Model.EnteredTripVisitLocations[0].Name" type="text" class="form-control" id="Visit-name-1" />
                                            <span asp-validation-for="@Model.EnteredTripVisitLocations[0].Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="Visit-desc-1" class="control-label">Description</label>
                                            <textarea asp-for="@Model.EnteredTripVisitLocations[0].Description" type="text" class="form-control" id="Visit-desc-1"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-secondary btn-block mt-2" id="add-visit-btn">Add More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="text-center pt-3 pb-3">Finished?</h4>
        <button class="btn btn-blue btn-block btn-lg mt-3">Save</button>

    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}