@model travoul.Models.Trip

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Continent
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Continent.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TripDates)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TripDates)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Accommodation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Accommodation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt>Travel Type</dt>
        <dd>
            <ul>
                @foreach (var TripTT in Model.TripTravelTypes)
                {
                    <li>@string.Format(TripTT.TravelType.Type)</li>
                }
            </ul>
        </dd>
        <dt>Things I wanted to do</dt>
        <dd>
            <ul>
                <h4>Food</h4>
                @foreach (var TripL in Model.TripVisitLocations)
                {
                    if (TripL.LocationType.Type == "Food")
                    {
                        <li>@string.Format(TripL.Name)<b>:</b> @string.Format(TripL.Description)</li>
                    }
                }
                <h4>Places</h4>
                @foreach (var TripL in Model.TripVisitLocations)
                {
                    if (TripL.LocationType.Type == "Place")
                    {
                        <li>@string.Format(TripL.Name)<b>:</b> @string.Format(TripL.Description)</li>
                    }
                }
            </ul>
        </dd>
        <dt>Things I did do</dt>
        <dd>
            <ul>
                <h4>Food</h4>
                @foreach (var TripL in Model.TripVisitLocations)
                {
                    if (TripL.LocationType.Type == "Food" && TripL.IsCompleted == true)
                    {
                        <li>@string.Format(TripL.Name)<b>:</b> @string.Format(TripL.Description)</li>
                    }
                }
                <h4>Places</h4>
                @foreach (var TripL in Model.TripVisitLocations)
                {
                    if (TripL.LocationType.Type == "Place" && TripL.IsCompleted == true)
                    {
                        <li>@string.Format(TripL.Name)<b>:</b> @string.Format(TripL.Description)</li>
                    }
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TripId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
