@model Trip

@{
    ViewData["Title"] = Model.Title + " Details";
}

<div class="finish-trip-details-page">


    <h3 class="text-center mt-2 mb-5">Details for @Model.Title</h3>


    <div class="card border-0 mid-layer inset-shadow">
        <div class="card-header header-blue text-light text-center">
            @Model.Continent.Name
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="width-65 polaroid inset-shadow effect7">
                    <img class="details-img" src="@(Model.ImagePath != null ? Model.ImagePath : "/images/chuttersnap-176806-unsplash.jpg")" alt="map" />
                    <div class="text-center sharpie">@Model.Title</div>
                </div>
                <div class="width-35 p-2 d-flex flex-column justify-content-center">
                    <div class="text-blue">
                        <h5 class="card-title ml-4">@Model.Title</h5>
                        <p class="card-text ml-4">@Model.Location</p>
                        <p class="card-text ml-4">@Model.TripDates</p>
                        <p class="card-text ml-4">@Model.Accommodation</p>
                        <p class="card-text ml-4">
                            @if (Model.Budget != null)
                            {
                                <span>$@Model.Budget</span>
                            }
                            else
                            {
                                <span class="text-muted font-weight-italic">None</span>
                            }
                        </p>
                        <div class="card p-2 ml-4 inset-shadow-blue effect6">
                            <div class="card-text text-center mt-2">Transportation</div>
                            <hr />
                            <div class="card-body">
                                <div class="card-text d-flex flex-wrap justify-content-around">
                                    @if (Model.TripTravelTypes.Count > 0)
                                    {
                                        foreach (var tt in Model.TripTravelTypes)
                                        {
                                            <span class="mr-2">@tt.TravelType.Type</span>
                                        }
                                    }
                                    else
                                    {
                                        <span class="text-center text-muted font-weight-italic">None</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h5 class="text-center mt-4 mb-4">Experiences</h5>
            <hr />

            <div class="d-flex justify-content-around">
                <div class="card width-45 p-2 mt-2 inset-shadow-orange effect6">
                    <div class="card-text text-center mt-2">Food Experiences Completed</div>
                    @if (Model.TripVisitLocations.Count(t => t.IsCompleted && t.LocationTypeId == 1) > 0)
                    {
                        foreach (var tvl in Model.TripVisitLocations.Where(t => t.IsCompleted && t.LocationTypeId == 1))
                        {
                            <div class="card width-85 align-self-center mt-3 p-2 bg-light">
                                <div class="card-text">@tvl.Name</div>
                                @if (tvl.Description != null)
                                {
                                    <div class="card-text text-muted font-weight-italic">@tvl.Description</div>
                                }
                                else
                                {
                                    <div class="card-text text-muted font-weight-italic">None</div>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <div class="card-text text-center text-muted font-weight-italic mt-4">None Completed</div>
                    }
                    <div class="card-text text-center mt-3">Missed Food Experiences</div>
                    @if (Model.TripVisitLocations.Count(t => t.IsCompleted == false && t.LocationTypeId == 1) > 0)
                    {
                        foreach (var tvl in Model.TripVisitLocations.Where(t => t.IsCompleted == false && t.LocationTypeId == 1))
                        {
                            <div class="card width-85 align-self-center mt-3 mb-3 p-2 bg-secondary text-light">
                                <div class="card-text">@tvl.Name</div>
                                @if (tvl.Description != null)
                                {
                                    <div class="card-text text-light-gray font-weight-italic">@tvl.Description</div>
                                }
                                else
                                {
                                    <div class="card-text text-light-gray font-weight-italic">None</div>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <div class="card-text text-center text-muted font-weight-italic mt-3 mb-3">None Missed</div>
                    }

                </div>
                <div class="card width-45 p-2 mt-2 inset-shadow-green effect6">
                    <div class="card-text text-center mt-2">Places To See Completed</div>
                    @if (Model.TripVisitLocations.Count(t => t.IsCompleted && t.LocationTypeId == 2) > 0)
                    {
                        foreach (var tvl in Model.TripVisitLocations.Where(t => t.IsCompleted && t.LocationTypeId == 2))
                        {
                            <div class="card width-85 align-self-center mt-3 p-2 bg-light">
                                <div class="card-text">@tvl.Name</div>
                                @if (tvl.Description != null)
                                {
                                    <div class="card-text text-muted font-weight-italic">@tvl.Description</div>
                                }
                                else
                                {
                                    <div class="card-text text-muted font-weight-italic">None</div>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <div class="card-text text-center text-muted font-weight-italic mt-4">None Completed</div>
                    }
                    <div class="card-text text-center mt-3">Missed Places</div>
                    @if (Model.TripVisitLocations.Count(t => t.IsCompleted == false && t.LocationTypeId == 2) > 0)
                    {
                        foreach (var tvl in Model.TripVisitLocations.Where(t => t.IsCompleted == false && t.LocationTypeId == 2))
                        {
                            <div class="card width-85 align-self-center mt-3 p-2 bg-secondary text-light">
                                <div class="card-text">@tvl.Name</div>
                                @if (tvl.Description != null)
                                {
                                    <div class="card-text text-light-gray font-weight-italic">@tvl.Description</div>
                                }
                                else
                                {
                                    <div class="card-text text-light-gray font-weight-italic">None</div>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <div class="card-text text-center text-muted font-weight-italic mt-3 mb-3">None Missed</div>
                    }

                </div>
            </div>

            <h5 class="text-center mt-4 mb-4">Travoul Retrospectives</h5>
            <hr />

            <div class="d-flex justify-content-around mt-4">
                <div class="card width-45 p-2 inset-shadow-blue effect3">
                    <div class="card-text text-center pt-2 mt-2">Things to do again</div>
                    <hr />
                    @foreach (var tripRetro in Model.TripRetros)
                    {
                        if (tripRetro.RetroTypeId == 1)
                        {
                            <div class="p-3">
                                @tripRetro.Description
                            </div>
                        }
                    }
                </div>
                <div class="card width-45 p-2 inset-shadow-blue effect4">
                    <div class="card-text text-center pt-2 mt-2">Things to do Differently</div>
                    <hr />
                    @foreach (var tripRetro in Model.TripRetros)
                    {
                        if (tripRetro.RetroTypeId == 2)
                        {
                            <div class="p-3">
                                @tripRetro.Description
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-4">
        <div class="btn-group">
            <a class="btn btn-secondary text-white btn-edit" asp-controller="Trips" asp-action="FinishedTripEdit" asp-route-id="@Model.TripId">Edit</a>
            <a class="btn btn-secondary text-white btn-delete" data-toggle="modal" data-target="#deletePlannedModal">Delete</a>
            <a class="btn btn-secondary text-white" asp-action="Index">Back to List</a>
        </div>
    </div>

    <div class="modal fade" id="deletePlannedModal" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="deletePlannedModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deletePlannedModalLabel">Delete Confimation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this trip? It will be permanetly removed.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form asp-controller="Trips" asp-action="DeleteTrip" asp-route-id="@Model.TripId">
                        <button class="btn btn-danger text-white">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

