@model IEnumerable<travoul.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<div class="search-container d-flex justify-content-center">
    <div class="search-bar-area">
        <h4 class="text-center">Search though past Travouls</h4>
        <form asp-controller="Trips" asp-action="TripSearch" asp-route-preTrip="false">
            <input placeholder="Search by Name or Location" type="search" name="Search" class="form-control" />
        </form>
    </div>
</div>
@*<div>
    <form asp-controller="Trips" asp-action="TripSearch" asp-route-preTrip="false">
        <input type="text" name="Search" class="form-control" />
    </form>
</div>*@

<table class="table">
    <thead>  
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Continent
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                Dates of trip
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accommodation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Continent.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripDates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accommodation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                <a asp-controller="Trips" asp-action="Details" asp-route-id="@item.TripId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
