@model IEnumerable<travoul.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<div class="search-container d-flex justify-content-center">
    <div class="search-bar-area">
        <h4 class="text-center">Search though past Travouls</h4>
        <form asp-controller="Trips" asp-action="TripSearch" asp-route-preTrip="false">
            <input placeholder="Search by Name or Location" type="search" name="Search" class="form-control" />
        </form>
    </div>
</div>

@foreach (var item in Model)
{   <div class="card mb-3 p-2 finish-travoul-media">
        <div class="card-text text-center">@item.Continent.Name</div>
        <hr />
        <div class="media">
            <img class="m-2 index-trip-img" src="~/images/chuttersnap-176806-unsplash.jpg" alt="Generic placeholder image">
            <div class="media-body mt-1 ml-3">
                <h5 class="card-text">@item.Title</h5>
                <div class="d-flex justify-content-start">
                    <div class="card-text mr-4">@item.Location</div>
                    <div class="card-text">@item.TripDates</div>
                </div>
                <div class="card-text">@item.Accommodation</div>
                <div class="d-flex justify-content-end mt-4">
                    <a class="btn btn-secondary btn-sm" asp-controller="Trips" asp-action="Details" asp-route-id="@item.TripId">Details</a>
                </div>
            </div>
        </div>
    </div>
}

