@model travoul.Models.Trip

@{
    ViewData["Title"] = "Details";
}

<div class="mt-3 d-flex justify-content-center">
    <div class="card text-center w-75">
        <div class="card-header">
            @Model.Continent.Name
        </div>
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Location</p>
            <p class="card-text">Planned Dates: @Model.TripDates</p>
            <p class="card-text">Where to Stay: @Model.Accommodation</p>
            <p class="card-text">Budget: @Model.Budget</p>
        </div>
        <div class="card-footer text-muted">
            <h5 class="card-text">Transportation Plans</h5>
            <div class="d-flex justify-content-around">
                @foreach (TripTravelType tt in Model.TripTravelTypes)
                {
                    <div>
                        <p class="card-text">@tt.TravelType.Type</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="mt-4 mb-4">
    <h4 class="text-center">Experiences</h4>
    <hr />
</div>
<div class="d-flex justify-content-between">
    <div class="card food-card-container">
        <div class="card-body">
            <p class="card-text text-center">Foods to Try</p>
            <hr />
            @foreach (var food in Model.TripVisitLocations.Where(t => t.LocationTypeId == 1))
            {
                <div class="card mt-2">
                    <div class="card-header">@food.Name</div>
                    <div class="card-body">
                        <div class="card-text">@food.Description</div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="card place-card-container">
        <div class="card-body">
            <p class="card-text text-center">Places to Visit</p>
            <hr />
            @foreach (var place in Model.TripVisitLocations.Where(t => t.LocationTypeId == 2))
            {
                <div class="card mt-2">
                    <div class="card-header">@place.Name</div>
                    <div class="card-body">
                        <div class="card-text">@place.Description</div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="btn-group mt-4" role="group">
        <a class="btn btn-secondary" asp-controller="Trips" asp-action="PlannedTripEdit" asp-route-id="@Model.TripId">Edit</a>
        <a class="btn btn-secondary" asp-action="PlannedTripDelete" asp-route-id="@Model.TripId">Delete</a>
        <a class="btn btn-secondary" asp-controller="Trips" asp-action="FinishTrip" asp-route-id="@Model.TripId">Finish Trip</a>
        <a class="btn btn-secondary" asp-action="PlannedTrips">Back to List</a>
    </div>
</div>