@model travoul.Models.ViewModels.TripSearchViewModel

@{
    ViewData["Title"] = "Your Planned Travoul " + Model.Search + " Search Results";
}
<div class="planned-trips-search-page">

    <h3 class="text-center mt-3 text-light mb-3 text-shadow">Showing Results For</h3>
    <hr />
    <h5 class="text-center text-light mb-3 text-shadow">"@Model.Search"</h5>
    <hr />

    <div class="d-flex flex-wrap justify-content-around">
        @foreach (Trip trip in Model.Trips)
        {
            <div class="card mt-3 border-0 pre-trip-card effect7">
                <h5 class="card-header header-orange text-light">@trip.Continent.Name</h5>
                <div class="card-body text-blue inset-shadow-dark">
                    <h5 class="card-title">@trip.Title</h5>
                    <p class="card-text">@trip.Location</p>
                    <p class="card-text">@trip.TripDates</p>
                    <p class="card-text">@trip.Accommodation</p>
                    @if (trip.Budget == null)
                    {
                        <p class="card-text text-muted font-italic">None</p>
                    }
                    else
                    {
                        <p class="card-text">@trip.Budget</p>
                    }
                    <div class="d-flex justify-content-end">
                        <a asp-controller="Trips" asp-action="PlannedTripDetails" asp-route-id="@trip.TripId" class="btn btn-sm btn-blue">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="mt-4 d-flex justify-content-center">
        <a class="btn btn-sm btn-green" asp-controller="Trips" asp-action="PlannedTrips">Back to List</a>
    </div>
</div>
