@model travoul.Models.ViewModels.EditPlannedTripViewModel

@{
    ViewData["Title"] = "Edit";
}

<h3>Editing @Model.Trip.Title</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Trips" asp-action="PlannedTripEdit" asp-route-id="@Model.Trip.TripId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Trip.TripId" />
            <div class="form-group">
                <label asp-for="Trip.Title" class="control-label"></label>
                <input asp-for="Trip.Title" class="form-control" />
                <span asp-validation-for="Trip.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.ContinentId" class="control-label">Continent</label>
                <select asp-for="Trip.ContinentId" class="form-control" asp-items="Model.AllContinentOptions"></select>
                <span asp-validation-for="Trip.ContinentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.Location" class="control-label"></label>
                <input asp-for="Trip.Location" class="form-control" />
                <span asp-validation-for="Trip.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.TripDates" class="control-label">Dates of Trip</label>
                <input asp-for="Trip.TripDates" class="form-control" />
                <span asp-validation-for="Trip.TripDates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.Accommodation" class="control-label"></label>
                <input asp-for="Trip.Accommodation" Accommodation" class="form-control" />
                <span asp-validation-for="Trip.Accommodation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.Budget" class="control-label"></label>
                <input asp-for="Trip.Budget" Budget" class="form-control" />
                <span asp-validation-for="Trip.Budget" class="text-danger"></span>
            </div>
            <p>Travel Types</p>
            <div>
                @foreach (var item in Model.AllTravelTypes)
                {
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="SelectedTravelTypeIds" value="@item.Value" checked="@item.Selected" />
                                @item.Text
                            </label>
                        </div>
                    </div>
                }
            </div>
            <hr />
            <h4>Food places I want to go to!</h4>
            <div>
                @foreach (var foodPlace in Model.TripFoodLocations)
                {
                    <div class="form-group">
                        <label asp-for="@foodPlace.Name" class="control-label">Name</label>
                        <input asp-for="@foodPlace.Name" Budget" class="form-control" />
                        <span asp-validation-for="@foodPlace.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@foodPlace.Description" class="control-label">Description</label>
                        <input asp-for="@foodPlace.Description" Budget" class="form-control" />
                        <span asp-validation-for="@foodPlace.Description" class="text-danger"></span>
                    </div>
                }
            </div>
            <hr />
            <h4>Places I want go while I'm there!</h4>
            <div>
                @foreach (var placeLoc in Model.TripPlaceLocations)
                {
                    <div class="form-group">
                        <label asp-for="@placeLoc.Name" class="control-label">Name</label>
                        <input asp-for="@placeLoc.Name" Budget" class="form-control" />
                        <span asp-validation-for="@placeLoc.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@placeLoc.Description" class="control-label">Description</label>
                        <input asp-for="@placeLoc.Description" Budget" class="form-control" />
                        <span asp-validation-for="@placeLoc.Description" class="text-danger"></span>
                    </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Trips" asp-action="PlannedTrips">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
