@model IEnumerable<travoul.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<h3>Planned Trips</h3>

<div>
    <form asp-controller="Trips" asp-action="TripSearch" asp-route-preTrip="true">
        <input type="text" name="Search" class="form-control" />
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Continent
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                Dates of trip
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accommodation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Continent.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripDates)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accommodation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Budget)
                </td>
                <td>
                    <a asp-action="PlannedTripDetails" asp-route-id="@item.TripId">Details</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
