@model IEnumerable<travoul.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<div class="search-container d-flex justify-content-center">
    <div class="search-bar-area">
        <h4 class="text-center">Search for planned Travouls</h4>
        <form asp-controller="Trips" asp-action="TripSearch" asp-route-preTrip="true">
            <input placeholder="Search by Name or Location" type="search" name="Search" class="form-control" />
        </form>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-around">
    @foreach (Trip trip in Model) 
     {
        <div class="card mt-3 pre-trip-card">
            <h5 class="card-header">@trip.Continent.Name</h5>
            <div class="card-body">
                <h5 class="card-title">@trip.Title</h5>
                <p class="card-text">@trip.Location</p>
                <p class="card-text">@trip.TripDates</p>
                <p class="card-text">@trip.Accommodation</p>
                <p class="card-text">@trip.Budget</p>
                <a asp-action="PlannedTripDetails" asp-route-id="@trip.TripId" class="btn btn-sm btn-secondary">Details</a>
            </div>
        </div>
     }

</div>
 